*.out
__pycache__
*~
*#

our
orig
parsetab.py
lexer.py
output.c
temp.c

docs/


tester/*
!tester/criterion_controller.py
!tester/criterion_controller_gui.py
!tester/tester_controller.py
!tester/backend_tester.py
!tester/inp.txt

env/flags.json
env/output.c
env/check_input

ui/*.txt
ui/check_input
ui/flags.json
ui/statics/ace.js

.DS_Store
